<h2>Listado de Películas</h2>
<input
  #txtBuscar
  (keyup.enter)="buscarPelicula(txtBuscar.value)"
  class="form-control mr-sm-2"
  type="search"
  placeholder="Buscar Pelicula"
  aria-label="Search"
/>
<button (click)="buscarPelicula(txtBuscar.value)" class="btn btn-outline-warning my-2 my-sm-0" type="submit">
  Buscar
</button>
<table class="movie-table">
  <thead>
    <tr>
      <th>Poster</th>
      <th>Título</th>
      <th>Calificación</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let movie of filteredMovies">
      <tr>
        <td><img [src]="getImageUrl(movie.poster_path)" alt="{{ movie.title }}" /></td>
        <td>{{ movie.title }}</td>
        <td>{{ movie.vote_average }}</td>
      </tr>
    </ng-container>
    <tr *ngIf="filteredMovies.length === 0">
      <td colspan="3">No se encontraron películas</td>
    </tr>
  </tbody>
</table>

<div class="pagination">
  <button [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)">Anterior</button>
  <span>Página {{ currentPage }} de {{ totalPages }}</span>
  <button [disabled]="currentPage === totalPages" (click)="onPageChange(currentPage + 1)">Siguiente</button>
</div>
