<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
      <!-- Contenido del menú -->
      <div class="user-profile">
        <div class="profile-picture">
          <!-- Aquí puedes poner la ruta de tu imagen de perfil -->
          <!-- Por ejemplo, [src]="tu_ruta_de_imagen" -->
        </div>
        <div class="profile-name">
          Froylan Christofer
        </div>
      </div>
      <mat-toolbar>MENU</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item (click)="navegator()">Top 10</a>
        <a mat-list-item (click)="pelicula()">Peliculas</a>
        <a mat-list-item (click)="contacto()">Contactos</a>
  
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="header-toolbar">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <button mat-icon-button (click)="logout()" class="logout-button">
          <mat-icon aria-label="Cerrar sesión">exit_to_app</mat-icon>
        </button>
        <span>CINE FyR</span>
      </mat-toolbar>
      <app-users></app-users>
    </mat-sidenav-content>
  </mat-sidenav-container>
  